<body>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../../assets/predio-comercial.png" alt="" width="30" height="24">
      </a>
      <button routerLink="/unidade-save" class="btn btn-outline-success me-2" type="button">Adicionar Unidade</button>
      <form class="d-flex">
        <input class="form-control me-1" type="search" placeholder="Pesquisar Id" aria-label="Search">
        <button class="btn btn-outline-success" (click)="getById()" type="submit">Pesquisar</button>
      </form>
    </div>
  </nav>

<table class="table table-striped table-hover" style="text-align: center;">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Proprietario</th>
        <th scope="col">Condominio</th>
        <th scope="col">Inquilino</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let unidade of listUnidades$ | async" style="text-align: center;">
        <td>{{ unidade.id }}</td>
        <td>{{ unidade.proprietarioUnidade }}</td>
        <td>{{ unidade.condominioUnidade }}</td>
        <td>{{ unidade.inquilino?.nomeInquilino }}</td>
        <td>
          <div class="container-fluid">
            <div class="col">
              <a routerLink="/unidades" class="btn btn-sma btn-info ml-1">Ver</a>
              <a routerLink="/unidades-edit/{{ unidade.id }}" class="btn btn-sma btn-warning ml-1">Editar</a>
              <button (click)="confirmAction(unidade)" class="btn btn-sma btn-danger ml-1"
                data-toggle="modal" data-target="#modalDeleteUnidade">Delete</button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div id="modal-delete-container">
    <app-unidade-modal-delete
      [statusDelete]="monitoraStatusAction$"
      [unidadeDel]="unidadeAction"
     ></app-unidade-modal-delete>
  </div>

</body>
