<body>
  <div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown link
    </a>
  
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>

<table class="table table-striped table-hover" style="text-align: center;">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Proprietario</th>
        <th scope="col">Condominio</th>
        <th scope="col">Inquilino</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let unidade of listUnidades$ | async" style="text-align: center;">
        <td>{{ unidade.idUnidade }}</td>
        <td>{{ unidade.proprietario }}</td>
        <td>{{ unidade.condominio }}</td>
        <td>{{ unidade.inquilino?.nome }}</td>
        <td>
          <div class="container-fluid">
            <div class="col">
              <a routerLink="/unidades" class="btn btn-sma btn-info" style="margin-left: 5px">Ver</a>
              <a routerLink="/unidades-edit/{{ unidade.idUnidade }}" class="btn btn-sma btn-warning" style="margin-left: 5px">Editar</a>
              <button (click)="delete(unidade.idUnidade)" class="btn btn-sma btn-danger" style="margin-left: 5px">Deletar</button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</body>
