<head>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sidebars/">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="sidebar.component.scss" rel="stylesheet">
  </head>
<body>
    

  <main>
  
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <img src="../../../assets/edificios.png" class="bi me-2" width="40" height="40" alt="">
        <span class="fs-4">ApCoders</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a  class="nav-link active" aria-current="page">
            <img src="../../../assets/casa.png" class="bi me-2" width="16" height="16" alt="Home" >Home
          </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
              <img src="../../../assets/monitor.png" class="bi me-2" width="16" height="16">Dashboard
            </a>
        </li>
        <li>
            <a href="/unidades" class="nav-link text-white">
              <img src="../../../assets/predio-comercial.png" class="bi me-2" width="16" height="16">Unidades
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
              <img src="../../../assets/pessoas.png" class="bi me-2" width="16" height="16">Inquilinos
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
              <img src="../../../assets/despesas.png" class="bi me-2" width="16" height="16">Despesas
            </a>
        </li>
      </ul>
      <hr>
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
          <strong>adm</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>
  
    <div class="b-example-divider"></div>
  </main>
  </body>